In [1]:
import pandas as pd
df = pd.read_csv("data/FoodBalanceSheets_E_All_Data_(Normalized).csv")

In [2]:
df.tail(50)

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
1439341,5817,Net Food Importing Developing Countries,2899,Miscellaneous,5911,Export Quantity,2014,2014,1000 tonnes,424.00,A
1439342,5817,Net Food Importing Developing Countries,2899,Miscellaneous,5911,Export Quantity,2015,2015,1000 tonnes,468.00,A
1439343,5817,Net Food Importing Developing Countries,2899,Miscellaneous,5911,Export Quantity,2016,2016,1000 tonnes,493.00,A
1439344,5817,Net Food Importing Developing Countries,2899,Miscellaneous,5911,Export Quantity,2017,2017,1000 tonnes,586.00,A
1439345,5817,Net Food Importing Developing Countries,2899,Miscellaneous,5911,Export Quantity,2018,2018,1000 tonnes,601.00,A
1439346,5817,Net Food Importing Developing Countries,2899,Miscellaneous,5301,Domestic supply quantity,2014,2014,1000 tonnes,838.00,A
1439347,5817,Net Food Importing Developing Countries,2899,Miscellaneous,5301,Domestic supply quantity,2015,2015,1000 tonnes,743.00,A
1439348,5817,Net Food Importing Developing Countries,2899,Miscellaneous,5301,Domestic supply quantity,2016,2016,1000 tonnes,758.00,A
1439349,5817,Net Food Importing Developing Countries,2899,Miscellaneous,5301,Domestic supply quantity,2017,2017,1000 tonnes,778.00,A
1439350,5817,Net Food Importing Developing Countries,2899,Miscellaneous,5301,Domestic supply quantity,2018,2018,1000 tonnes,716.00,A
1439351,5817,Net Food Importing Developing Countries,2899,Miscellaneous,5154,Other uses (non-food),2014,2014,1000 tonnes,4.00,A
1439352,5817,Net Food Importing Developing Countries,2899,Miscellaneous,5154,Other uses (non-food),2015,2015,1000 tonnes,6.00,A
1439353,5817,Net Food Importing Developing Countries,2899,Miscellaneous,5154,Other uses (non-food),2016,2016,1000 tonnes,4.00,A
1439354,5817,Net Food Importing Developing Countries,2899,Miscellaneous,5154,Other uses (non-food),2017,2017,1000 tonnes,5.00,A
1439355,5817,Net Food Importing Developing Countries,2899,Miscellaneous,5154,Other uses (non-food),2018,2018,1000 tonnes,5.00,A
1439356,5817,Net Food Importing Developing Countries,2899,Miscellaneous,5171,Tourist consumption,2014,2014,1000 tonnes,3.00,A
1439357,5817,Net Food Importing Developing Countries,2899,Miscellaneous,5171,Tourist consumption,2015,2015,1000 tonnes,4.00,A
1439358,5817,Net Food Importing Developing Countries,2899,Miscellaneous,5171,Tourist consumption,2016,2016,1000 tonnes,6.00,A
1439359,5817,Net Food Importing Developing Countries,2899,Miscellaneous,5171,Tourist consumption,2017,2017,1000 tonnes,6.00,A
1439360,5817,Net Food Importing Developing Countries,2899,Miscellaneous,5171,Tourist consumption,2018,2018,1000 tonnes,6.00,A
1439361,5817,Net Food Importing Developing Countries,2899,Miscellaneous,5170,Residuals,2014,2014,1000 tonnes,-57.00,A
1439362,5817,Net Food Importing Developing Countries,2899,Miscellaneous,5170,Residuals,2015,2015,1000 tonnes,-85.00,A
1439363,5817,Net Food Importing Developing Countries,2899,Miscellaneous,5170,Residuals,2016,2016,1000 tonnes,-83.00,A
1439364,5817,Net Food Importing Developing Countries,2899,Miscellaneous,5170,Residuals,2017,2017,1000 tonnes,-158.00,A
1439365,5817,Net Food Importing Developing Countries,2899,Miscellaneous,5170,Residuals,2018,2018,1000 tonnes,-148.00,A
1439366,5817,Net Food Importing Developing Countries,2899,Miscellaneous,5142,Food,2014,2014,1000 tonnes,888.00,A
1439367,5817,Net Food Importing Developing Countries,2899,Miscellaneous,5142,Food,2015,2015,1000 tonnes,818.00,A
1439368,5817,Net Food Importing Developing Countries,2899,Miscellaneous,5142,Food,2016,2016,1000 tonnes,831.00,A
1439369,5817,Net Food Importing Developing Countries,2899,Miscellaneous,5142,Food,2017,2017,1000 tonnes,924.00,A
1439370,5817,Net Food Importing Developing Countries,2899,Miscellaneous,5142,Food,2018,2018,1000 tonnes,853.00,A
1439371,5817,Net Food Importing Developing Countries,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),2014,2014,kg,0.66,Fc
1439372,5817,Net Food Importing Developing Countries,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),2015,2015,kg,0.59,Fc
1439373,5817,Net Food Importing Developing Countries,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),2016,2016,kg,0.59,Fc
1439374,5817,Net Food Importing Developing Countries,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),2017,2017,kg,0.64,Fc
1439375,5817,Net Food Importing Developing Countries,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),2018,2018,kg,0.58,Fc
1439376,5817,Net Food Importing Developing Countries,2899,Miscellaneous,664,Food supply (kcal/capita/day),2014,2014,kcal/capita/day,1.00,Fc
1439377,5817,Net Food Importing Developing Countries,2899,Miscellaneous,664,Food supply (kcal/capita/day),2015,2015,kcal/capita/day,1.00,Fc
1439378,5817,Net Food Importing Developing Countries,2899,Miscellaneous,664,Food supply (kcal/capita/day),2016,2016,kcal/capita/day,1.00,Fc
1439379,5817,Net Food Importing Developing Countries,2899,Miscellaneous,664,Food supply (kcal/capita/day),2017,2017,kcal/capita/day,1.00,Fc
1439380,5817,Net Food Importing Developing Countries,2899,Miscellaneous,664,Food supply (kcal/capita/day),2018,2018,kcal/capita/day,1.00,Fc
1439381,5817,Net Food Importing Developing Countries,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),2014,2014,g/capita/day,0.02,Fc
1439382,5817,Net Food Importing Developing Countries,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),2015,2015,g/capita/day,0.02,Fc
1439383,5817,Net Food Importing Developing Countries,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),2016,2016,g/capita/day,0.02,Fc
1439384,5817,Net Food Importing Developing Countries,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),2017,2017,g/capita/day,0.02,Fc
1439385,5817,Net Food Importing Developing Countries,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),2018,2018,g/capita/day,0.02,Fc
1439386,5817,Net Food Importing Developing Countries,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),2014,2014,g/capita/day,0.01,Fc
1439387,5817,Net Food Importing Developing Countries,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),2015,2015,g/capita/day,0.01,Fc
1439388,5817,Net Food Importing Developing Countries,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),2016,2016,g/capita/day,0.01,Fc
1439389,5817,Net Food Importing Developing Countries,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),2017,2017,g/capita/day,0.01,Fc
1439390,5817,Net Food Importing Developing Countries,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),2018,2018,g/capita/day,0.01,Fc

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1439391 entries, 0 to 1439390
Data columns (total 11 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Area Code     1439391 non-null  int64
 1   Area          1439391 non-null  object
 2   Item Code     1439391 non-null  int64
 3   Item          1439391 non-null  object
 4   Element Code  1439391 non-null  int64
 5   Element       1439391 non-null  object
 6   Year Code     1439391 non-null  int64
 7   Year          1439391 non-null  int64
 8   Unit          1439391 non-null  object
 9   Value         1439391 non-null  float64
 10  Flag          1439391 non-null  object
dtypes: float64(1), int64(5), object(5)
memory usage: 120.8+ MB

In [4]:
df.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Year Code', 'Year', 'Unit', 'Value', 'Flag'],
      dtype='object')

In [5]:
df.describe

<bound method NDFrame.describe of          Area Code                                     Area  Item Code  \
0                2                              Afghanistan       2501
1                2                              Afghanistan       2501
2                2                              Afghanistan       2501
3                2                              Afghanistan       2501
4                2                              Afghanistan       2501
...            ...                                      ...        ...
1439386       5817  Net Food Importing Developing Countries       2899
1439387       5817  Net Food Importing Developing Countries       2899
1439388       5817  Net Food Importing Developing Countries       2899
1439389       5817  Net Food Importing Developing Countries       2899
1439390       5817  Net Food Importing Developing Countries       2899

                  Item  Element Code                             Element  \
0           Population           511       Total Population - Both sexes
1           Population           511       Total Population - Both sexes
2           Population           511       Total Population - Both sexes
3           Population           511       Total Population - Both sexes
4           Population           511       Total Population - Both sexes
...                ...           ...                                 ...
1439386  Miscellaneous           684  Fat supply quantity (g/capita/day)
1439387  Miscellaneous           684  Fat supply quantity (g/capita/day)
1439388  Miscellaneous           684  Fat supply quantity (g/capita/day)
1439389  Miscellaneous           684  Fat supply quantity (g/capita/day)
1439390  Miscellaneous           684  Fat supply quantity (g/capita/day)

         Year Code  Year          Unit     Value Flag
0             2014  2014  1000 persons  33371.00    *
1             2015  2015  1000 persons  34414.00    *
2             2016  2016  1000 persons  35383.00    *
3             2017  2017  1000 persons  36296.00    *
4             2018  2018  1000 persons  37172.00    *
...            ...   ...           ...       ...  ...
1439386       2014  2014  g/capita/day      0.01   Fc
1439387       2015  2015  g/capita/day      0.01   Fc
1439388       2016  2016  g/capita/day      0.01   Fc
1439389       2017  2017  g/capita/day      0.01   Fc
1439390       2018  2018  g/capita/day      0.01   Fc

[1439391 rows x 11 columns]>

In [6]:
df.rename(columns={"Item Code": "item_code"})

,Area Code,Area,item_code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,Afghanistan,2501,Population,511,Total Population - Both sexes,2014,2014,1000 persons,33371.00,*
1,2,Afghanistan,2501,Population,511,Total Population - Both sexes,2015,2015,1000 persons,34414.00,*
2,2,Afghanistan,2501,Population,511,Total Population - Both sexes,2016,2016,1000 persons,35383.00,*
3,2,Afghanistan,2501,Population,511,Total Population - Both sexes,2017,2017,1000 persons,36296.00,*
4,2,Afghanistan,2501,Population,511,Total Population - Both sexes,2018,2018,1000 persons,37172.00,*
...,...,...,...,...,...,...,...,...,...,...,...
1439386,5817,Net Food Importing Developing Countries,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),2014,2014,g/capita/day,0.01,Fc
1439387,5817,Net Food Importing Developing Countries,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),2015,2015,g/capita/day,0.01,Fc
1439388,5817,Net Food Importing Developing Countries,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),2016,2016,g/capita/day,0.01,Fc
1439389,5817,Net Food Importing Developing Countries,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),2017,2017,g/capita/day,0.01,Fc
1439390,5817,Net Food Importing Developing Countries,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),2018,2018,g/capita/day,0.01,Fc

In [7]:
df.nunique()

Area Code         211
Area              211
Item Code         123
Item              120
Element Code       18
Element            18
Year Code           5
Year                5
Unit                5
Value           47535
Flag                5
dtype: int64

In [8]:
df2 = pd.read_csv("data/WPP2019_TotalPopulationBySex.csv")

In [9]:
df2.head(150)

,LocID,Location,VarID,Variant,Time,MidPeriod,PopMale,PopFemale,PopTotal,PopDensity
0,4,Afghanistan,2,Medium,1950,1950.5,4099.243,3652.874,7752.117,11.874
1,4,Afghanistan,2,Medium,1951,1951.5,4134.756,3705.395,7840.151,12.009
2,4,Afghanistan,2,Medium,1952,1952.5,4174.450,3761.546,7935.996,12.156
3,4,Afghanistan,2,Medium,1953,1953.5,4218.336,3821.348,8039.684,12.315
4,4,Afghanistan,2,Medium,1954,1954.5,4266.484,3884.832,8151.316,12.486
...,...,...,...,...,...,...,...,...,...,...
145,4,Afghanistan,2,Medium,2095,2095.5,37902.920,38071.343,75974.263,116.371
146,4,Afghanistan,2,Medium,2096,2096.5,37805.856,37983.823,75789.679,116.089
147,4,Afghanistan,2,Medium,2097,2097.5,37703.619,37889.393,75593.012,115.787
148,4,Afghanistan,2,Medium,2098,2098.5,37596.553,37788.419,75384.972,115.469
149,4,Afghanistan,2,Medium,2099,2099.5,37485.029,37681.331,75166.360,115.134

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280932 entries, 0 to 280931
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   LocID       280932 non-null  int64
 1   Location    280932 non-null  object
 2   VarID       280932 non-null  int64
 3   Variant     280932 non-null  object
 4   Time        280932 non-null  int64
 5   MidPeriod   280932 non-null  float64
 6   PopMale     250876 non-null  float64
 7   PopFemale   250876 non-null  float64
 8   PopTotal    280932 non-null  float64
 9   PopDensity  280932 non-null  float64
dtypes: float64(5), int64(3), object(2)
memory usage: 21.4+ MB

In [11]:
df2.columns

Index(['LocID', 'Location', 'VarID', 'Variant', 'Time', 'MidPeriod', 'PopMale',
       'PopFemale', 'PopTotal', 'PopDensity'],
      dtype='object')

In [12]:
df2.describe

<bound method NDFrame.describe of         LocID     Location  VarID      Variant  Time  MidPeriod    PopMale  \
0           4  Afghanistan      2       Medium  1950     1950.5   4099.243
1           4  Afghanistan      2       Medium  1951     1951.5   4134.756
2           4  Afghanistan      2       Medium  1952     1952.5   4174.450
3           4  Afghanistan      2       Medium  1953     1953.5   4218.336
4           4  Afghanistan      2       Medium  1954     1954.5   4266.484
...       ...          ...    ...          ...   ...        ...        ...
280927    716     Zimbabwe    207  Lower 95 PI  2080     2080.5  10576.533
280928    716     Zimbabwe    207  Lower 95 PI  2085     2085.5  10293.349
280929    716     Zimbabwe    207  Lower 95 PI  2090     2090.5   9920.336
280930    716     Zimbabwe    207  Lower 95 PI  2095     2095.5   9503.711
280931    716     Zimbabwe    207  Lower 95 PI  2100     2100.5   9090.075

        PopFemale   PopTotal  PopDensity
0        3652.874   7752.117      11.874
1        3705.395   7840.151      12.009
2        3761.546   7935.996      12.156
3        3821.348   8039.684      12.315
4        3884.832   8151.316      12.486
...           ...        ...         ...
280927  11255.983  21836.893      56.448
280928  11050.875  21355.988      55.205
280929  10767.709  20689.956      53.483
280930  10412.184  19892.080      51.421
280931   9996.105  19061.177      49.273

[280932 rows x 10 columns]>

In [13]:
df2.nunique()

LocID            477
Location         474
VarID             14
Variant           14
Time             151
MidPeriod        151
PopMale       233586
PopFemale     233498
PopTotal      257046
PopDensity    178370
dtype: int64

In [14]:
df3 = pd.read_csv("data/Food_Production.csv")

In [15]:
df3.head()

,Food product,Land use change,Animal Feed,Farm,Processing,Transport,Packging,Retail,Total_emissions,Eutrophying emissions per 1000kcal (gPO₄eq per 1000kcal),...,Freshwater withdrawals per 100g protein (liters per 100g protein),Freshwater withdrawals per kilogram (liters per kilogram),Greenhouse gas emissions per 1000kcal (kgCO₂eq per 1000kcal),Greenhouse gas emissions per 100g protein (kgCO₂eq per 100g protein),Land use per 1000kcal (m² per 1000kcal),Land use per kilogram (m² per kilogram),Land use per 100g protein (m² per 100g protein),Scarcity-weighted water use per kilogram (liters per kilogram),Scarcity-weighted water use per 100g protein (liters per 100g protein),Scarcity-weighted water use per 1000kcal (liters per 1000 kilocalories)
0,Wheat & Rye (Bread),0.1,0.0,0.8,0.2,0.1,0.1,0.1,1.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Maize (Meal),0.3,0.0,0.5,0.1,0.1,0.1,0.0,1.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Barley (Beer),0.0,0.0,0.2,0.1,0.0,0.5,0.3,1.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Oatmeal,0.0,0.0,1.4,0.0,0.1,0.1,0.0,1.6,4.281357,...,371.076923,482.4,0.945482,1.907692,2.897446,7.6,5.846154,18786.2,14450.92308,7162.104461
4,Rice,0.0,0.0,3.6,0.1,0.1,0.1,0.1,4.0,9.514379,...,3166.760563,2248.4,1.207271,6.267606,0.759631,2.8,3.943662,49576.3,69825.77465,13449.891480

In [16]:
df3.columns

Index(['Food product', 'Land use change', 'Animal Feed', 'Farm', 'Processing',
       'Transport', 'Packging', 'Retail', 'Total_emissions',
       'Eutrophying emissions per 1000kcal (gPO₄eq per 1000kcal)',
       'Eutrophying emissions per kilogram (gPO₄eq per kilogram)',
       'Eutrophying emissions per 100g protein (gPO₄eq per 100 grams protein)',
       'Freshwater withdrawals per 1000kcal (liters per 1000kcal)',
       'Freshwater withdrawals per 100g protein (liters per 100g protein)',
       'Freshwater withdrawals per kilogram (liters per kilogram)',
       'Greenhouse gas emissions per 1000kcal (kgCO₂eq per 1000kcal)',
       'Greenhouse gas emissions per 100g protein (kgCO₂eq per 100g protein)',
       'Land use per 1000kcal (m² per 1000kcal)',
       'Land use per kilogram (m² per kilogram)',
       'Land use per 100g protein (m² per 100g protein)',
       'Scarcity-weighted water use per kilogram (liters per kilogram)',
       'Scarcity-weighted water use per 100g protein (liters per 100g protein)',
       'Scarcity-weighted water use per 1000kcal (liters per 1000 kilocalories)'],
      dtype='object')

In [17]:
df3.describe()

,Land use change,Animal Feed,Farm,Processing,Transport,Packging,Retail,Total_emissions,Eutrophying emissions per 1000kcal (gPO₄eq per 1000kcal),Eutrophying emissions per kilogram (gPO₄eq per kilogram),...,Freshwater withdrawals per 100g protein (liters per 100g protein),Freshwater withdrawals per kilogram (liters per kilogram),Greenhouse gas emissions per 1000kcal (kgCO₂eq per 1000kcal),Greenhouse gas emissions per 100g protein (kgCO₂eq per 100g protein),Land use per 1000kcal (m² per 1000kcal),Land use per kilogram (m² per kilogram),Land use per 100g protein (m² per 100g protein),Scarcity-weighted water use per kilogram (liters per kilogram),Scarcity-weighted water use per 100g protein (liters per 100g protein),Scarcity-weighted water use per 1000kcal (liters per 1000 kilocalories)
count,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,33.000000,38.000000,...,26.000000,38.000000,33.000000,27.000000,33.000000,38.000000,27.000000,38.000000,26.000000,30.000000
mean,1.260465,0.453488,3.469767,0.253488,0.195349,0.269767,0.069767,5.972093,27.181547,46.141316,...,1437.975324,932.605263,5.633943,13.524906,12.423165,29.264474,29.105042,36607.428947,59196.438503,17380.575408
std,3.357730,0.919200,7.083264,0.372475,0.158795,0.342633,0.110270,10.501753,46.445959,82.808808,...,1441.981970,1296.999186,10.613575,19.427462,28.348693,78.490074,49.307339,56891.283046,89928.189299,16232.080209
min,-2.100000,0.000000,0.100000,0.000000,0.000000,0.000000,0.000000,0.200000,0.708419,0.690000,...,32.375000,0.000000,0.069919,0.263319,0.273756,0.330000,3.000000,0.000000,421.250000,4.095023
25%,0.000000,0.000000,0.350000,0.000000,0.100000,0.100000,0.000000,0.850000,4.214932,3.752500,...,373.573281,105.500000,0.628415,4.027439,1.312500,1.112500,5.088235,3325.075000,11018.401007,2969.124983
50%,0.200000,0.000000,0.800000,0.100000,0.100000,0.100000,0.000000,1.600000,7.000000,11.460000,...,1083.327272,417.100000,1.351351,6.500000,2.976244,6.865000,7.936314,14533.050000,20917.213595,12605.256790
75%,0.800000,0.000000,2.200000,0.300000,0.200000,0.300000,0.150000,6.000000,26.324324,45.840000,...,1832.386339,1340.375000,5.335135,14.983333,6.605405,14.917500,23.002381,35960.175000,70651.721022,28056.471593
max,16.300000,2.900000,39.400000,1.300000,0.800000,1.600000,0.300000,59.600000,197.357143,365.290000,...,6003.333333,5605.200000,50.946429,93.300000,119.490842,369.810000,184.812594,229889.800000,431620.000000,49735.882350

In [18]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 23 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   Food product                                                             43 non-null     object
 1   Land use change                                                          43 non-null     float64
 2   Animal Feed                                                              43 non-null     float64
 3   Farm                                                                     43 non-null     float64
 4   Processing                                                               43 non-null     float64
 5   Transport                                                                43 non-null     float64
 6   Packging                                                                 43 non-null     float64
 7   Retail                                                                   43 non-null     float64
 8   Total_emissions                                                          43 non-null     float64
 9   Eutrophying emissions per 1000kcal (gPO₄eq per 1000kcal)                 33 non-null     float64
 10  Eutrophying emissions per kilogram (gPO₄eq per kilogram)                 38 non-null     float64
 11  Eutrophying emissions per 100g protein (gPO₄eq per 100 grams protein)    27 non-null     float64
 12  Freshwater withdrawals per 1000kcal (liters per 1000kcal)                30 non-null     float64
 13  Freshwater withdrawals per 100g protein (liters per 100g protein)        26 non-null     float64
 14  Freshwater withdrawals per kilogram (liters per kilogram)                38 non-null     float64
 15  Greenhouse gas emissions per 1000kcal (kgCO₂eq per 1000kcal)             33 non-null     float64
 16  Greenhouse gas emissions per 100g protein (kgCO₂eq per 100g protein)     27 non-null     float64
 17  Land use per 1000kcal (m² per 1000kcal)                                  33 non-null     float64
 18  Land use per kilogram (m² per kilogram)                                  38 non-null     float64
 19  Land use per 100g protein (m² per 100g protein)                          27 non-null     float64
 20  Scarcity-weighted water use per kilogram (liters per kilogram)           38 non-null     float64
 21  Scarcity-weighted water use per 100g protein (liters per 100g protein)   26 non-null     float64
 22  Scarcity-weighted water use per 1000kcal (liters per 1000 kilocalories)  30 non-null     float64
dtypes: float64(22), object(1)
memory usage: 7.9+ KB

In [19]:
df4 = pd.read_excel("data/Data_ifeu.ods", engine="odf")

In [20]:
df4.head()

,food,co2_footprint,category,phosphate_rock_footprint,land_use_footprint,water_footprint,energy_demand,comments
0,"Apple (organic), average",0.2,Fruit and vegetables,NaN,NaN,NaN,NaN,NaN
1,"Apple, average",0.3,Fruit and vegetables,1.0,0.1,1500.0,0.8,NaN
2,"Apple, from New Zealand",0.8,Fruit and vegetables,NaN,NaN,NaN,NaN,NaN
3,"Apple, regional in April",0.4,Fruit and vegetables,NaN,NaN,NaN,NaN,NaN
4,"Apple, regional in autumn",0.3,Fruit and vegetables,NaN,NaN,NaN,NaN,NaN

In [21]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   food                      187 non-null    object
 1   co2_footprint             186 non-null    float64
 2   category                  187 non-null    object
 3   phosphate_rock_footprint  35 non-null     float64
 4   land_use_footprint        35 non-null     float64
 5   water_footprint           35 non-null     float64
 6   energy_demand             34 non-null     float64
 7   comments                  6 non-null      object
dtypes: float64(5), object(3)
memory usage: 11.8+ KB