In [3]:
import pandas as pd
df = pd.read_csv("data/FoodBalanceSheets_E_All_Data_(Normalized).csv")

In [4]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,Afghanistan,2501,Population,511,Total Population - Both sexes,2014,2014,1000 persons,33371.0,*
1,2,Afghanistan,2501,Population,511,Total Population - Both sexes,2015,2015,1000 persons,34414.0,*
2,2,Afghanistan,2501,Population,511,Total Population - Both sexes,2016,2016,1000 persons,35383.0,*
3,2,Afghanistan,2501,Population,511,Total Population - Both sexes,2017,2017,1000 persons,36296.0,*
4,2,Afghanistan,2501,Population,511,Total Population - Both sexes,2018,2018,1000 persons,37172.0,*

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1439391 entries, 0 to 1439390
Data columns (total 11 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Area Code     1439391 non-null  int64
 1   Area          1439391 non-null  object
 2   Item Code     1439391 non-null  int64
 3   Item          1439391 non-null  object
 4   Element Code  1439391 non-null  int64
 5   Element       1439391 non-null  object
 6   Year Code     1439391 non-null  int64
 7   Year          1439391 non-null  int64
 8   Unit          1439391 non-null  object
 9   Value         1439391 non-null  float64
 10  Flag          1439391 non-null  object
dtypes: float64(1), int64(5), object(5)
memory usage: 120.8+ MB

In [6]:
df.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Year Code', 'Year', 'Unit', 'Value', 'Flag'],
      dtype='object')